mixin rsvp(rsvp)
  hr 
  div 
    h2 Firstname : #{rsvp.firstname}
    h2 Lastname : #{rsvp.lastname}
    h3 Attending : #{rsvp.attending}
    p email : #{rsvp.email}
    p Message : #{rsvp.message}
    hr